@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600i,700&display=swap&subset=latin-ext');

*,html{
    margin:0;
    padding: 0;
}

html,body{

    font-family: "Open Sans";
}

a{
    text-decoration: none;
    color: inherit;
}